.navbar {
	font-size: 30px;
	background: rgb(105, 78, 52);
	background: linear-gradient(
		90deg,
		rgba(105, 78, 52, 1) 0%,
		rgba(105, 78, 52, 1) 44%,
		rgba(73, 47, 4, 1) 78%
	);
	&-brand {
		width: 50px;
	}
}
